<div class="bg-navbar"></div>
<div class="container loginForm">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input required type="text" class="form-control" id="email" name="email">
        </div>
        <div>
            <label for="password" class="form-label">Password</label>
            <input required type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
</div>