<div class="container">
    <figure>
        <video class="hero" src="./video/homeVideo.mp4" autoplay="autoplay" muted loop>
            Your browser does not support the video element.
        </video>
    </figure>
</div>