<div class="container upper">
    <div class="row">
        <div class="col-md-12 img-message">
            <img src="https://res.cloudinary.com/da1iyocf4/image/upload/v1657035210/project-nike/error_nike_dojdw7.jpg"
                alt="empty cart">
        </div>
    </div>
</div>