<div class="bg-navbar"></div>

<div style="width: 100%; text-align: center;">
    <img style="height: 600px; margin-bottom: 4.7rem;"
        src="https://res.cloudinary.com/da1iyocf4/image/upload/v1657035210/project-nike/error_nike_dojdw7.jpg"
        alt="not found">
</div>