body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

h1 {
  color: 15px;
}

#logo {
  width: 100%;
}

.navbar {
  padding: 1rem 1rem;
}

.big-nav-container {
  display: flex;
  align-items: center;
}

.menu {
  justify-content: right;
}

.menu-text li {
  margin-right: 1rem;
}

.menu-box {
  margin-left: 2rem;
  margin-right: 1rem;
}

#cart {
  width: 100%;
  height: 3rem;
}

.hero {
  width: 98.9vw;
}