<div class="container">
    <div class="row">
        <div class="col">
            <img src="" alt="">
        </div>
        <div class="col">
            <h1>Edit Product</h1>
            <form action="/admin/{{id}}/edit" method="POST">
                <div class="row mb-1">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="name"></label>
                            <input type="text" id="name" class="form-control" name="name" value="{{name}}">
                        </div>
                    </div>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label" for="description"></label>
                    <textarea class="form-control" id="description" rows="4"
                        name="description">{{description}}</textarea>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)"
                        value="{{price}}" name="price">
                    <span class="input-group-text">€</span>
                </div>

                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Category</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">Women</option>
                        <option value="2">Men</option>
                        <option value="3">Kids</option>
                    </select>
                </div>

                <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" id="form6Example8" checked />
                    <label class="form-check-label" for="form6Example8"> Create product? </label>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">Edit</button>
                
            </form>

        </div>
    </div>
</div>