<div class="container img-message upper">
    <div class="row">
        <img src="https://res.cloudinary.com/da1iyocf4/image/upload/v1657206550/empty-cart_jkfi9f.png" alt="empty cart">
    </div>
</div>