<div class="container empty-img upper">
    <div class="row">
        <div class="col-md-2"></div>
        <figure>
            <img src="https://res.cloudinary.com/da1iyocf4/image/upload/v1657206550/empty-cart_jkfi9f.png"
                alt="empty cart">
        </figure>
    </div>
    <div class="col-md-2"></div>
</div>