<div class="container empty-img upper">
    <figure>
        <img src="https://res.cloudinary.com/da1iyocf4/image/upload/v1657267919/Paymentsuccessful_qxxii1.png"
            alt="empty cart">
    </figure>
</div>